
#jumboFire {
	position: fixed;
	bottom: -5px;
	right: 0;
	width: 100%;
	opacity: 1;
	z-index: -100;
}

body {
	background-color: #000;
}

.panel{
	color: #fff;
}

table{
	color: #000;
}

.halfOpac {
	background-color:rgba(0, 0, 0, 0.5);
}

.jumbotron {
	background-color:rgba(0, 0, 0, 0.5);
	color: #9f9f9f;
}
.footer{
	background-color:rgba(0, 0, 0, 0.8);
}

.push{
	height: 50px;
}